---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Benefits from '../components/Benefits.astro';
import Testimonials from '../components/Testimonials.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout 
  title="Aulas de Latim Online | Professores Especializados | aulasdelatim.com.br"
  description="Aprenda latim online com professores especializados. Metodologia moderna e horários flexíveis. Agende sua aula experimental hoje!"
>
  <Navigation />
  <main>
    <Hero />
    <Benefits />
    <Testimonials />
    <ContactForm />
  </main>
  <Footer />
</Layout>